<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" th:href="@{/css/userDashboard.css}">
<link rel="stylesheet" th:href="@{/css/table.css}"> 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="icon" type="image/x-icon" href="images/flogo.jpg">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<title>Loan Details</title>
</head>
<body>
<aside id="sidebar">
        <div class="sidebar-header">
            <img th:src="@{/images/flogo.jpg}" alt="image" id="image1">
            <h4>Royal Finance</h4>
        </div>
        <ul class="list-unstyled components">
        	<li>
                <a th:href="@{/adminhomepage}"><i class="fas fa-home"></i> Home</a>
            </li>
            <li>
                <a th:href="@{/listallusers}"><i class="fas fa-file-alt"></i> Registered Users</a>
            </li>
            <li>
                <a th:href="@{/listallborrowers}"><i class="fas fa-info-circle"></i> Borrowers</a>
            </li>
            <li>
                <a th:href="@{/getallloans}"><i class="fas fa-receipt"></i> Loan Details</a>
            </li>
            <li>
                <a th:href="@{/paymenthistory}"><i class="fas fa-history"></i> Payment History</a>
            </li>
            <li>
                <a th:href="@{/userdetail}"><i class="fas fa-user"></i> Profile</a>
            </li>
            <li>
                <a th:href="@{/logout}"><i class="fas fa-sign-out-alt"></i> Logout</a>
            </li>
        </ul>
</aside>
<form th:action="@{/searchloandetail}" method="get">
        <input type="text" placeholder="Search" class="search" name="searchData">
</form>
    <table>
        <thead>
            <tr>
                <th>Loan Id</th>
                <th>Borrower Id</th>
                <th>Loan Issued</th>
                <th>Outstanding Tenure(In Months)</th>
                <th>Outstanding Principal</th>
                <th>EMI</th>
                <th>Payment Status</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="amount : ${loans}">
                <td th:text="${amount.loanId}"></td>
                <td th:text="${amount.borrowerId}"></td>
                <td th:text="${amount.date}"></td>
                <td th:text="${amount.tenure}"></td>
                <td th:text="${amount.balanceLoanAmount}"></td>
                <td th:text="${amount.emi}"></td>
                <td th:text="${amount.paymentStatus}"></td>
            </tr>
            <tr th:if="${#lists.isEmpty(loans)}">
                <td colspan="7">No Records found</td>
            </tr>
        </tbody>
    </table>
</body>
</html>