<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" th:href="@{/css/userDashboard.css}">
<script th:src="@{/javascript/loanApplication.js}"></script>
<link rel="stylesheet" th:href="@{/css/form.css}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="icon" type="image/x-icon" href="images/flogo.jpg">
<title>Application</title>
</head>
<body>
<aside id="sidebar">
        <div class="sidebar-header">
            <img th:src="@{/images/flogo.jpg}" alt="image" id="image1">
            <h4>Royal Finance</h4>
        </div>
        <ul class="list-unstyled components">
           <li>
                <a th:href="@{/borrowerhomepage}"><i class="fas fa-home"></i> Home</a>
            </li>
            <li>
                <a th:href="@{/allowborrower}"><i class="fas fa-file-alt"></i> Apply</a>
            </li>
            <li>
                <a th:href="@{/appliedloandetail}"><i class="fas fa-info-circle"></i> Status</a>
            </li>
            <li>
                <a th:href="@{/getreceipt}"><i class="fas fa-receipt"></i> Invoice</a>
            </li>
            <li>
                <a th:href="@{/payemi}"><i class="fas fa-money-bill-wave"></i> Pay EMI</a>
            </li>
            <li>
                <a th:href="@{/paymenthistory}"><i class="fas fa-history"></i> Payment History</a>
            </li>
            <li>
                <a th:href="@{/userdetail}"><i class="fas fa-user"></i> Profile</a>
            </li>
            <li>
                <a th:href="@{/logout}"><i class="fas fa-sign-out-alt"></i> Logout</a>
            </li>
        </ul>
</aside>
    <h1>Application Form</h1>
    <div>
    	<form th:action="@{/applyloan}" id="myForm" method="post" enctype="multipart/form-data" onsubmit="validation()">
    	<div class="form-group">
    		 <label for="id">Borrower Id</label>
             <input id="id" type="text" name="id" th:value="${session.id}" readonly>
    	</div>
    	<div class="form-group">
    		 <label for="sal">Salary/Month</label>
             <input id="sal" type="number" name="salary"  placeholder="Salary" th:oninput="validateSalary()" required>
             <div id="salaryError" class="error-message"></div>
    	</div>
    	<div class="form-group">
    		 <label for="loan">Loan Amount</label>
             <input id="loan" type="number" name="amount"  placeholder="loan" th:oninput="validateLoan()" required>
             <div id="loanError" class="error-message"></div>
    	</div>
    	<div class="form-group">
    		<label for="repay">Tenure(In Months)</label>
            <input id="repay" type="number" name="repayment" placeholder="Repayment Period" th:oninput="validateTenure()" required>
            <div id="tenureError" class="error-message"></div>
    	</div>
    	<div class="form-group">
    		 <label for="accNo">Account No</label>
             <input id="accNo" type="text" maxlength=13 name="accountNo" th:value="${session.accountNo}" readonly>
    	</div>
       <div class="form-group">
          <label for="pan">PAN</label>
          <input id="pan" type="text" maxlength=10 name="pan" th:value="${session.pan}">
       </div>
       <div class="form-group">
       	   <label for="pay">Pay Slip</label>
           <input id="pay" type="file" name="paySlip" th:oninput="validateFile()" required>
           <div id="fileError" class="error-message"></div>
       </div>
	    <div class="form-group">
	    	<label for="proof">PAN Image</label>
            <input id="proof" type="file" name="panImage" th:oninput="validateFile()" required>
            <div id="fileError" class="error-message"></div>
	    </div>
	    <div class="form-group">
	    	<label for="govId">Government Id(Aadhar card)</label>
            <input id="govId" type="file" name="govId" th:oninput="validateFile()" required>
            <div id="fileError" class="error-message"></div>
	    </div>
         <div class="form-group">
         	<input type="submit" value="Apply">
         </div>
    </form>
 </div>
 <div th:if="${message}">
        <div th:class="'alert alert-' + ${type}" role="alert">
            <span th:text="${message == 'existingUser' ? 'You are an existing/new borrower.' :
                            message == 'newUser' ? 'You are a new Borrower.' : ''}"></span>
 		</div>
</div>
</body>
</html>