<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" th:href="@{/css/userDashboard.css}">
<link rel="stylesheet" th:href="@{/css/card.css}"> 
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="icon" type="image/x-icon" href="images/flogo.jpg">
<title>Loan Preclosure</title>
</head>
<body>
<aside id="sidebar">
        <div class="sidebar-header">
            <img th:src="@{/images/flogo.jpg}" alt="image" id="image1">
            <h4>Royal Finance</h4>
        </div>
        <ul class="list-unstyled components">
            <li>
                <a th:href="@{/borrowerhomepage}" class="ul-atag"><i class="fas fa-home"></i> Home</a>
            </li>
            <li>
                <a th:href="@{/allowborrower}" class="ul-atag"><i class="fas fa-file-alt"></i> Apply</a>
            </li>
            <li>
                <a th:href="@{/appliedloandetail}" class="ul-atag"><i class="fas fa-info-circle"></i> Status</a>
            </li>
            <li>
                <a th:href="@{/getreceipt}" class="ul-atag"><i class="fas fa-receipt"></i> Invoice</a>
            </li>
            <li class="nav-item dropdown" id ="profile">
                  <i class="fas fa-money-bill-wave" style="padding: 0 6px 0 0;"></i> Pay EMI
                   <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                     <a class="dropdown-item " th:href="@{/payemi}" >EMI</a>
                     <a class="dropdown-item" th:href="@{/preclosure}">Preclosure</a>
                  </div>
            </li>
            <li>
                <a th:href="@{/paymenthistory}" class="ul-atag"><i class="fas fa-history"></i> Payment History</a>
            </li>
            <li>
                <a th:href="@{/userdetail}" class="ul-atag" ><i class="fas fa-user"></i> Profile</a>
            </li>
            <li>
                <a th:href="@{/logout}" class="ul-atag"><i class="fas fa-sign-out-alt"></i> Logout</a>
            </li>
        </ul>
</aside>
<div th:each="loan : ${list}" class="loan-item">
        <div class="loan-details">
            <label><b>Loan Id:</b></label><p th:text="${loan.loanId}" class="out"></p><br>
            <label><b>Borrower Id:</b></label><p th:text="${loan.borrowerId}" class="out"></p><br>
            <label><b>Date:</b></label><p th:text="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}" class="out"></p><br>
            <label><b>Acc. No:</b></label><p class="out" th:text="${loan.accountNo}"></p><br>
            <label><b>Admin Acc. No:</b></label><p class="out">6754321890765</p><br>
            <label><b>IFSC code:</b></label><p class="out">ABCD0123456</p><br>
            <label><b>Amount:</b></label><p th:text="${loan.balanceLoanAmount}" class="out"></p><br>
            <form action="/updatepayment" method="post">
                <input type="hidden" name="loanId" th:value="${loan.loanId}">
                <input type="hidden" name="id" th:value="${loan.borrowerId}">
                <input type="hidden" name="account" th:value="${loan.accountNo}">
                <input type="hidden" name="amount" th:value="${loan.balanceLoanAmount}">
                <input type="hidden" name="status" th:value="1">
                <button>Pay</button>
            </form>
        </div>
</div>
</body>
</html>