<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" th:href="@{/css/userDashboard.css}">
<link rel="stylesheet" th:href="@{/css/table.css}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="icon" type="image/x-icon" href="images/flogo.jpg">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<title>Registered Users</title>
</head>
<body>
<aside id="sidebar">
        <div class="sidebar-header">
            <img th:src="@{/images/flogo.jpg}" alt="image" id="image1">
            <h4>Royal Finance</h4>
        </div>
        <ul class="list-unstyled components">
        	<li>
                <a th:href="@{/adminhomepage}" class="ul-atag"><i class="fas fa-home"></i> Home</a>
            </li>
            <li>
                <a th:href="@{/listallusers}" class="ul-atag"><i class="fas fa-file-alt"></i> Registered Users</a>
            </li>
            <li>
                <a th:href="@{/listallborrowers}" class="ul-atag"><i class="fas fa-info-circle"></i> Borrowers</a>
            </li>
            <li>
                <a th:href="@{/getallloans}" class="ul-atag"><i class="fas fa-receipt"></i> Loan Details</a>
            </li>
            <li>
                <a th:href="@{/paymenthistory}" class="ul-atag"><i class="fas fa-history"></i> Payment History</a>
            </li>
            <li>
                <a th:href="@{/userdetail}" class="ul-atag"><i class="fas fa-user"></i> Profile</a>
            </li>
            <li>
                <a th:href="@{/logout}" class="ul-atag"><i class="fas fa-sign-out-alt"></i> Logout</a>
            </li>
        </ul>
</aside>
	<form th:action="@{/searchuser}" method="get" class="search">
	<input type="search" name="searchData" placeholder="Search">
</form>
 <table border="1px" cellspacing="0px">
	<thead>
		<tr>
	<th>Borrower Id</th>
	 <th>Name</th>
	 <th>Date Of Birth</th>
	 <th>Phone Number</th>
	 <th>Email Id</th>
	  <th>Location</th>
	 <th>Delete</th>
	   </tr>
	</thead>
	<tbody>
	  <tr th:each="user : ${users}">
	  <td th:text="${user.getId()}"></td>
	   <td th:text="${user.getName()}"></td>
	   <td th:text="${user.getDateOfBirth()}"></td>
	   <td th:text="${user.getPhoneNo()}"></td>
	   <td th:text="${user.getEmail()}"></td>
	   <td th:text="${user.getLocation()}"></td>
	    <td>
            <form th:action="@{/removeuser}" method="get">
                  <input type="hidden" name="deleteId" th:value="${user.getId()}">
                  <input type="submit"  name="delete" value="Delete" class="button">
            </form>
          </td> 
	  </tr>
	      <tr th:unless="${users!=null and not #lists.isEmpty(users)}">
	          <td colspan="15">No Records found</td>
	      </tr>
	</tbody>
</table> 
</body>
</html>